@font-face {
    font-family: "Cascadia Code";
    src: url("/fonts/cascadia/CascadiaCode.woff2");
}

@font-face {
    font-family: "Cascadia Mono";
    src: url("/fonts/cascadia/CascadiaMono.woff2");
}
