@font-face {
    font-family: "Gelasio";
    src: url("/fonts/gelasio/Gelasio-Regular.woff2");
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Gelasio";
    src: url("/fonts/gelasio/Gelasio-Italic.woff2");
    font-weight: 400;
    font-style: italic;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Gelasio";
    src: url("/fonts/gelasio/Gelasio-Medium.woff2");
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Gelasio";
    src: url("/fonts/gelasio/Gelasio-MediumItalic.woff2");
    font-weight: 500;
    font-style: italic;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Gelasio";
    src: url("/fonts/gelasio/Gelasio-SemiBold.woff2");
    font-weight: 600;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Gelasio";
    src: url("/fonts/gelasio/Gelasio-SemiBoldItalic.woff2");
    font-weight: 600;
    font-style: italic;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Gelasio";
    src: url("/fonts/gelasio/Gelasio-Bold.woff2");
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Gelasio";
    src: url("/fonts/gelasio/Gelasio-BoldItalic.woff2");
    font-weight: 700;
    font-style: italic;
    text-rendering: optimizeLegibility;
}
