@use "sass:color";
@use "../abstracts" as *;

:root {
    --font-header: #{$font-header};
    --font-text: #{$font-text};
    --font-code: #{$font-code};
    --font-navigation: #{$font-navigation};
}

@include in-dark {
    $color-link: color.adjust($color-link, $lightness: +20%);

    color-scheme: dark;

    --color-text: #{$color-paper};
    --color-front: #{$color-desk};
    --color-back: #{$color-dark};
    --color-accent: #{$color-accent};
}

@include in-light {
    color-scheme: light;

    --color-text: #{$color-dark};
    --color-front: #{$color-paper};
    --color-back: #{$color-desk};
    --color-accent: #{$color-accent};
}
