@use "../abstracts" as *;

:root {
    --font-header: #{$font-header};
    --font-text: #{$font-text};
    --font-code: #{$font-code};
    --font-navigation: #{$font-navigation};
}

// NB: light theme is the default (due to the :not)
html[data-theme=light],
html:not([data-theme=dark]) {
    @include theme-light;
}

html[data-theme=dark] {
    @include theme-dark;
}

@media (prefers-color-scheme: dark) {

    // `data-theme` overrides `prefers-color-scheme`
    html:not([data-theme=light]) {
        @include theme-dark;
    }
}

@media (prefers-color-scheme: light) {

    // `data-theme` overrides `prefers-color-scheme`
    html:not([data-theme=dark]) {
        @include theme-light;
    }
}
