@use "sass:color";
@use "./variables" as *;

@mixin in-light {
    // NB: light theme is the default (due to the :not)
    html:not([data-theme=dark]) {
        @content;
    }

    // NB: `:not(.\9)` increases selector specificity so that data-them overrides prefers-color-scheme
    //     which overrides the default (light) theme above
    html[data-theme=light]:not(.\9):not(.\9) {
        @content;
    }

    @media (prefers-color-scheme: light) {
        // `data-theme` overrides `prefers-color-scheme`
        html:not([data-theme=dark]):not(.\9) {
            @content;
        }
    }
}

@mixin in-dark {
    html[data-theme=dark]:not(.\9):not(.\9) {
        @content;
    }

    @media (prefers-color-scheme: dark) {
        // `data-theme` overrides `prefers-color-scheme`
        html:not([data-theme=light]):not(.\9) {
            @content;
        }
    }
}

@mixin max-mobile {
    @media screen and (max-width: $width-mobile) {
        @content;
    }
}

@mixin max-tablet {
    @media screen and (max-width: $width-tablet) {
        @content;
    }
}

@mixin min-tablet {
    @media screen and (min-width: $width-tablet) {
        @content;
    }
}

@mixin max-desktop {
    @media screen and (max-width: $width-desktop) {
        @content;
    }
}

@mixin min-desktop {
    @media screen and (min-width: $width-desktop) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}

@mixin container {
    @include min-desktop {
        width: $width-desktop;
    }

    width: 100%;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

@mixin phone {
    @media (max-width: $width-phone) {
        @content;
    }
}
