@use "sass:color";
@use "./variables" as *;

@mixin theme-dark {
    $color-link: color.adjust($color-link, $lightness: +10%);

    color-scheme: dark;

    --color-text: #{$color-paper};
    --color-link: #{$color-link};
    --color-link-visited: #{color.adjust($color-link, $lightness: -20%)};
    --color-link-hover: #{color.adjust($color-link, $lightness: +10%)};
    --color-link-disabled: #{color.adjust($color-link, $saturation: -20%)};

    --color-front: #{$color-desk};
    --color-back: #{$color-dark};
    --color-accent: #{$color-accent};

    --color-admonition-caution: #{$color-admonition-caution};
    --color-admonition-important: #{$color-admonition-important};
    --color-admonition-note: #{$color-admonition-note};
    --color-admonition-tip: #{$color-admonition-tip};
    --color-admonition-warning: #{$color-admonition-warning};

    --color-admonition-caution-border: #{color.adjust($color-admonition-caution, $lightness: +10%)};
    --color-admonition-important-border: #{color.adjust($color-admonition-important, $lightness: +10%)};
    --color-admonition-note-border: #{color.adjust($color-admonition-note, $lightness: +10%)};
    --color-admonition-tip-border: #{color.adjust($color-admonition-tip, $lightness: +10%)};
    --color-admonition-warning-border: #{color.adjust($color-admonition-warning, $lightness: +10%)};
}

@mixin theme-light {
    color-scheme: light;

    --color-link: #{$color-link};
    --color-link-visited: #{color.adjust($color-link, $lightness: -20%)};
    --color-link-hover: #{color.adjust($color-link, $lightness: +10%)};
    --color-link-disabled: #{color.adjust($color-link, $saturation: -20%)};

    --color-text: #{$color-dark};
    --color-front: #{$color-paper};
    --color-back: #{$color-desk};
    --color-accent: #{$color-accent};

    --color-admonition-caution: #{$color-admonition-caution};
    --color-admonition-important: #{$color-admonition-important};
    --color-admonition-note: #{$color-admonition-note};
    --color-admonition-tip: #{$color-admonition-tip};
    --color-admonition-warning: #{$color-admonition-warning};

    --color-admonition-caution-border: #{color.adjust($color-admonition-caution, $lightness: -10%)};
    --color-admonition-important-border: #{color.adjust($color-admonition-important, $lightness: -10%)};
    --color-admonition-note-border: #{color.adjust($color-admonition-note, $lightness: -10%)};
    --color-admonition-tip-border: #{color.adjust($color-admonition-tip, $lightness: -10%)};
    --color-admonition-warning-border: #{color.adjust($color-admonition-warning, $lightness: -10%)};
}

@mixin max-mobile {
    @media screen and (max-width: $width-mobile) {
        @content;
    }
}

@mixin max-tablet {
    @media screen and (max-width: $width-tablet) {
        @content;
    }
}

@mixin min-tablet {
    @media screen and (min-width: $width-tablet) {
        @content;
    }
}

@mixin max-desktop {
    @media screen and (max-width: $width-desktop) {
        @content;
    }
}

@mixin min-desktop {
    @media screen and (min-width: $width-desktop) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}

@mixin container {
    @include min-desktop {
        width: $width-desktop;
    }

    width: 100%;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}
