@use "./functions" as *;

$font-header: "Space Grotesk", sans-serif;
$font-navigation: "Bitter", serif;
$font-text: "Bitter", serif;
$font-code: "Cascadia Mono", monospace;

$color-paper: #faf2eb;
$color-desk: #3a322b;
$color-dark: #202020;
$color-light: #efefef;
$color-link: #924924;
$color-accent: #924924;
// $color-accent: #ac162c;

$color-admonition-caution: #FFB600;
$color-admonition-important: #6DB649;
$color-admonition-note: #6D92DB;
$color-admonition-tip: #B6B6B6;
$color-admonition-warning: #bb4f4f;

$width-desktop: 980px;
$width-tablet: 768px;
$width-mobile: 560px;
$width-phone: 800px;
