$font-header: "Space Grotesk", sans-serif;
$font-navigation: "Bitter", serif;
$font-text: "Bitter", serif;
$font-code: "Cascadia Mono", monospace;

$color-paper: #faf2eb;
$color-desk: #3a322b;
$color-dark: #202020;
$color-light: #efefef;
$color-link: #924924;
